.ask {
  background-image: url("../images/section_bg02.jpg");
  background-repeat: no-repeat;
  height: 300px;
}

h1 {
  color: white;
  text-transform: capitalize;
  margin-top: 60px;
  font-size: 30px;
}

.ask .container .row .text p {
  color: white;
}

.ask .container .row .btn {
  margin-left: 240px;
  margin-top: 100px;
  border: 2px solid white;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}
.ask .container .row .btn:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  transition: all 0.7s ease;
}

/* 0px to 552px */
@media all and (min-width: 0px) and (max-width: 552px) {
  .ask {
    margin-top: -20px;
    text-align: center;
  }
  .ask h1 {
    font-size: 24px;
  }
  .ask .container .row .text p {
    font-size: 12px;
  }
  .ask .container .row .btn {
    margin-top: -0px;
    margin-left: 10px;
  }
}

/*  553px to 768px */
@media all and (min-width: 553px) and (max-width: 768px) {
  .ask {
    margin-top: -20px;
    text-align: center;
  }
  .ask h1 {
    font-size: 24px;
  }
  .ask .container .row .text p {
    font-size: 15px;
  }
  .ask .container .row .btn {
    margin-top: 30px;
    margin-left: 10px;
  }
}

/*  768px to 992px */
@media all and (min-width: 768px) and (max-width: 992px) {
  .ask {
    margin-top: -20px;
    text-align: center;
  }
  .ask h1 {
    font-size: 24px;
  }
  .ask .container .row .text p {
    font-size: 15px;
  }
  .ask .container .row .btn {
    margin-top: 30px;
    margin-left: 10px;
  }
}

/*  992px to 1200px */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .ask {
    margin-top: -20px;
    text-align: center;
  }
  .ask h1 {
    font-size: 24px;
    margin-top: 100px;
  }
  .ask .container .row .text p {
    font-size: 15px;
  }
  .ask .container .row .btn {
    margin-top: 120px;
    margin-left: 10px;
  }
}
