@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Handlee&family=Sawarabi+Mincho&display=swap");
footer {
  font-family: "Arima Madurai", cursive;
  font-family: "Handlee", cursive;
  margin-top: -60px;
}
/* font-family: "Dancing Script", cursive; */
footer .logo {
  color: rgb(20, 17, 53);
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  font-weight: 600;
}

footer .mu {
  font-family: "Dancing Script", cursive;
  color: rgb(184, 75, 91);
}
footer ul li a {
  color: rgb(59, 48, 158) !important;
  font-weight: 600;
  font-size: 20px;
}

footer h6 {
  color: rgb(32, 21, 148);
  font-weight: 600;
  font-size: 21px;
  width: 140px;
}
footer p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(184, 75, 91);
}

.copyright p {
  color: gray;
}

/* 0px to 552px */
@media all and (min-width: 0px) and (max-width: 552px) {
  footer {
    font-size: xx-small;
  }
  footer p {
    font-size: 16px;
  }
  footer h6 {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
  .copyright p {
    text-align: left;
  }
}

/*  553px to 768px */
@media all and (min-width: 553px) and (max-width: 768px) {
  footer {
    margin-top: -130px;
  }
  footer p {
    font-size: 16px;
  }
  footer h6 {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
  .copyright p {
    text-align: left;
  }
}

/*   768px to 992px */
@media all and (min-width: 768px) and (max-width: 992px) {
  footer {
    margin-top: -130px;
  }
  footer p {
    font-size: 16px;
  }
  footer h6 {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
}

/*  992px to 1200px */
@media all and (min-width: 992px) and (max-width: 1200px) {
  footer {
    margin-top: -130px;
  }
  footer p {
    font-size: 16px;
  }
  footer h6 {
    font-size: 14px;
  }
  footer ul li a {
    font-size: 14px;
  }
}
